:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 248.09 */
  --control-background-color: #0167ac;
  --control-background-color-hover: #195a8f;
  --control-border-color-light: #2079c0;
  --control-border-color-dark: #054473;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-block: 0;
}

button,
input,
select {
  font-size: inherit;
  font-family: inherit;
}

input[type="text"],
input[type="number"],
select,
.file-input-facade {
  flex-grow: 1;
  width: unset;
}

.file-input-facade {
  padding-inline: 4px;
  padding-block: 1px;
}

label:not(.file-input-facade) {
  font-weight: 600;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.layout-grid {
  display: grid;
  gap: 1rem;
  overflow-x: hidden;
}

.layout-grid > * {
  overflow-x: auto;
}

.inline-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.block-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}

.input-group {
  background: #f5f5f5;
  border: 2px solid lightgrey;
  padding: 0.5rem;
}

.input-group-heading {
  font-weight: 600;
  margin: 0;
}

.input-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline-start: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 4px;
  padding-block: 1px;

  border-width: 2px;
  border-style: solid;
  border-inline-start-color: var(--control-border-color-light);
  border-block-start-color: var(--control-border-color-light);
  border-inline-end-color: var(--control-border-color-dark);
  border-block-end-color: var(--control-border-color-dark);
  background-color: var(--control-background-color);
  color: white;
}
input + .file-input-facade.button:is(:hover, :active, :focus-within),
input:is(:hover, :active, :focus-within) + .file-input-facade.button,
.button:is(:hover, :active, :focus-within) {
  background-color: var(--control-background-color-hover);
}
input:focus-visible + label.button:is(.file-input-facade, .icon-button),
.button:focus-visible {
  outline: 2px solid #0060df;
}

.icon-button,
.checkbox {
  margin: 0;
  padding: 0;

  width: 28px;
  height: 28px;
}

.button svg,
.checkbox svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.text-input:not(:is(.color-picker, .styled-color-picker) .text-input) {
  border-width: 2px;
  border-style: solid;

  --control-background-color: #fafafa;
  --control-background-color-hover: #e6e6e6;
  --control-border-color-light: #aaaaaa;
  --control-border-color-dark: #d3d3d3;

  border-inline-start-color: var(--control-border-color-light);
  border-block-start-color: var(--control-border-color-light);
  border-inline-end-color: var(--control-border-color-dark);
  border-block-end-color: var(--control-border-color-dark);
  background-color: var(--control-background-color);
  color: black;
}
.text-input:not(:is(.color-picker, .styled-color-picker) .text-input):not(
    :is(:read-only, :disabled)
  ):is(:hover, :active, :focus-within) {
  background-color: var(--control-background-color-hover);
}
.text-input:not(:is(.color-picker, .styled-color-picker) .text-input):read-only,
.text-input:not(:is(.color-picker, .styled-color-picker) .text-input):disabled {
  background-color: transparent;
  color: #414141;
}

.checkbox {
  border-width: 2px;
  border-style: solid;

  --control-background-color: #fafafa;
  --control-background-color-hover: #e6e6e6;
  --control-border-color-light: #2079c0;
  --control-border-color-dark: #054473;

  border-inline-start-color: var(--control-border-color-light);
  border-block-start-color: var(--control-border-color-light);
  border-inline-end-color: var(--control-border-color-dark);
  border-block-end-color: var(--control-border-color-dark);
  background-color: var(--control-background-color);
  color: white;
}
.checkbox:not(:is(:disabled)):is(:hover, :active, :focus-within) {
  background-color: var(--control-background-color-hover);
}
.checkbox:is(input:checked ~ .checkbox) {
  --control-background-color: #1b7730;
  --control-background-color-hover: #256631;
  --control-border-color-light: #318941;
  --control-border-color-dark: #124f20;
}
.checkbox:is(input:checked ~ .checkbox):not(input:checked ~ :is(:disabled)):is(
    :hover,
    :active,
    :focus-within
  ) {
  --control-background-color: #256631;
}
.checkbox:is(input:checked ~ :is(:disabled)) {
  filter: grayscale();
}

.color-delete {
  --control-background-color: #a23c3f;
  --control-background-color-hover: #883a3b;
  --control-border-color-light: #a65c5a;
  --control-border-color-dark: #6c2829;
}

.color-add {
  --control-background-color: #1b7730;
  --control-background-color-hover: #256631;
  --control-border-color-light: #318941;
  --control-border-color-dark: #124f20;
}

.color-disabled {
  --control-background-color: #636363;
  --control-background-color-hover: #565656;
  --control-border-color-light: #747474;
  --control-border-color-dark: #424242;
}

.color-dynamic {
  --dynamic-solid: color(from var(--dynamic-color) srgb r g b / 1);
  --dynamic-hover: color-mix(
    in hsl shorter hue,
    var(--dynamic-solid) 100%,
    #666666 50%
  );
  --dynamic-light: color-mix(
    in hsl shorter hue,
    var(--dynamic-solid) 100%,
    #9b9b9b 50%
  );
  --dynamic-dark: color-mix(
    in hsl shorter hue,
    var(--dynamic-solid) 100%,
    #282828 50%
  );

  --control-background-color: var(--dynamic-solid, #0167ac);
  --control-background-color-hover: var(--dynamic-hover, #195a8f);
  --control-border-color-light: var(--dynamic-light, #2079c0);
  --control-border-color-dark: var(--dynamic-dark, #054473);

  color: #fff;
  color: contrast-color(var(--dynamic-dark));
}

.spin {
  animation: Spin 4s linear infinite;
}

.slow-spin {
  animation: Spin 40s linear infinite;
}

@keyframes Spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
