name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Ensure Gradle wrapper is executable
        run: chmod +x ./gradlew

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Get Minecraft version
        id: get-minecraft-version
        run: |
          minecraft_version=$(grep '^minecraft_version=' gradle.properties | cut -d= -f2)
          echo "minecraft-version=$minecraft_version" >> "$GITHUB_OUTPUT"

          version_url=$(curl -s https://piston-meta.mojang.com/mc/game/version_manifest_v2.json | jq --raw-output ".versions | map(select(.id == \"$minecraft_version\"))[0].url")
          java_version=$(curl -s "$version_url" | jq --raw-output '.javaVersion.majorVersion')
          echo "java-version=$java_version" >> "$GITHUB_OUTPUT"

      - name: Setup Java ${{ steps.get-minecraft-version.outputs.java-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.get-minecraft-version.outputs.java-version }}
          distribution: "zulu"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew clean build

      - name: Upload Fabric build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-fabric
          path: "fabric/build/libs/*.jar"
          include-hidden-files: true
          if-no-files-found: error

      - name: Upload Neoforge build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-neoforge
          path: "neoforge/build/libs/*.jar"
          include-hidden-files: true
          if-no-files-found: error

  check-datagen:
    name: Check data generation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Ensure Gradle wrapper is executable
        run: chmod +x ./gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Get Minecraft version
        id: get-minecraft-version
        run: |
          minecraft_version=$(grep '^minecraft_version=' gradle.properties | cut -d= -f2)
          echo "minecraft-version=$minecraft_version" >> "$GITHUB_OUTPUT"

          version_url=$(curl -s https://piston-meta.mojang.com/mc/game/version_manifest_v2.json | jq --raw-output ".versions | map(select(.id == \"$minecraft_version\"))[0].url")
          java_version=$(curl -s "$version_url" | jq --raw-output '.javaVersion.majorVersion')
          echo "java-version=$java_version" >> "$GITHUB_OUTPUT"

      - name: Setup Java ${{ steps.get-minecraft-version.outputs.java-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.get-minecraft-version.outputs.java-version }}
          distribution: "zulu"

      - name: Clean
        run: ./gradlew clean

      - name: Run datagen (Fabric)
        run: ./gradlew runDatagen

      - name: Run datagen (NeoForge)
        run: ./gradlew runData

      - name: Check changes
        run: |
          git diff --exit-code fabric/src/main/generated
          git diff --exit-code neoforge/src/main/generated

  # TODO: add job to do gametest
